@font-face {
  font-family: "iconfont"; /* Project id 3383714 */
  src: url('iconfont.woff2?t=1652094062706') format('woff2'),
       url('iconfont.woff?t=1652094062706') format('woff'),
       url('iconfont.ttf?t=1652094062706') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-fenxiang:before {
  content: "\e603";
}

.icon-fenxiang1:before {
  content: "\e650";
}

.icon-biaoqing:before {
  content: "\e604";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-aite:before {
  content: "\e60a";
}

.icon-huati:before {
  content: "\e658";
}

.icon-tiwen:before {
  content: "\e7bf";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-tiwen1:before {
  content: "\e647";
}

.icon-xiaoxi1:before {
  content: "\e654";
}

.icon-shoucang:before {
  content: "\eb26";
}

.icon-shijian:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e601";
}

.icon-dengji:before {
  content: "\e629";
}

.icon-dingbu:before {
  content: "\e76c";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-lajixiang:before {
  content: "\e645";
}

.icon-shezhi1:before {
  content: "\e64b";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-dingbu1:before {
  content: "\e614";
}

.icon-pinglun1:before {
  content: "\e891";
}

.icon-cai:before {
  content: "\e602";
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-shuliangtongji:before {
  content: "\e676";
}

.icon-cai1:before {
  content: "\e701";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

